%div{id: "daily_task_#{daily_task.id}"}
  .row
    .col-sm-12
      %strong
        = daily_task.name
      %small
        = link_to '(remove)', daily_task, method: :delete, data: { confirm: 'Are you sure?' }, remote: true
  .row
    .col-sm-1
      = form_for daily_task, remote: true do |f|
        = f.check_box :done
    .col-sm-11
      = simple_format daily_task.description

