%div{id: "daily_task_#{daily_task.id}"}
  .row
    .col-sm-12

      %strong{style: ('color: red;' if daily_task.priority == 'high')}
        = daily_task.name
      %small
        = link_to '(remove)', daily_task, method: :delete, data: { confirm: 'Are you sure?' }, remote: true
  .row
    .col-sm-1
      = form_for daily_task, remote: true do |f|
        = f.check_box :done
    .col-sm-11
      = simple_format daily_task.description
  .row
    .col-sm-12
      .task-goal-item{style: "background-color: #{daily_task.goal.color}"}
        = daily_task.goal.name

