= form_for @daily_task, remote: true do |f|
  .form-group
    %small
      %strong Date:
      = Date.today
  .form-group
    = f.text_field :name, :placeholder => "Enter task name", class: 'form-control'
  .form-group
    = f.text_area :description, placeholder: 'Enter task description', class: 'form-control'
  .form-group
    = f.collection_select :goal_id, Goal.all, :id, :name, {}, class: 'form-control'
  .form-group
    = f.select :priority, %w(low normal high), selected: 'normal', class: 'form-control'

  = f.submit 'Add task', class: 'btn btn-sm btn-outline-primary'