%h5.text-center Save this day. Make it profitable for your future life
.card.border-success
  .card-header
    %ul.nav-tabs.nav.card-header-tabs
      %li.nav-item
        = link_to 'Done', '#undone', 'data-toggle': 'tab', class: 'nav-link active'
      %li.nav-item
        = link_to 'Undone', '#undone', 'data-toggle': 'tab', class: 'nav-link active'
      %li.nav-item
        = link_to 'Success', '#success', 'data-toggle': 'tab', class: 'nav-link'
      %li.nav-item
        = link_to 'Fails', '#fails', 'data-toggle': 'tab', class: 'nav-link'
      %li.nav-item
        = link_to 'Rules', '#rules', 'data-toggle': 'tab', class: 'nav-link'

  .tab-content
    #done.tab-pane.active
      .list-group.list-group-flush
        - if @complete_daily_tasks.count > 0
          = render partial: 'layouts/incomplete_task', collection: @complete_daily_tasks, as: :daily_task
        - else
          Nothing was done. OOops..
    #undone.tab-pane.fade
      .list-group.list-group-flush
        - if @incomplete_daily_tasks.count > 0
          = render partial: 'layouts/incomplete_task', collection: @incomplete_daily_tasks, as: :daily_task
        - else
          No unfinished tasks. Congrats!
    #success.tab-pane.fade
      .list-group.list-group-flush
        = render @success_notes
      .card-body
        = link_to 'New success note', new_success_note_path(day: @day), class: 'card-link'
    #fails.tab-pane.fade
      .list-group.list-group-flush
        = render @fail_notes
      .card-body
        = link_to 'New fail note', new_fail_note_path(day: @day), class: 'card-link'
    #rules.tab-pane.fade
      .list-group.list-group-flush
        = render @rules
      .card-body
        = link_to 'New lesson', new_rule_path(day: @day), class: 'card-link'
