= form_for @success_note do |f|
  .form-group
    = f.text_field :body, :placeholder => "What was your today success?", class: 'form-control'
  .form-group
    = f.text_area :why_answer, placeholder: 'Why did you succeed?', class: 'form-control'
  = submit_tag 'One more note', name: 'one_more', class: 'btn btn-sm btn-outline-primary'
  = submit_tag 'Save note', name: 'finish', class: 'btn btn-sm btn-outline-primary'